<ng-container *ngIf="words && wordErrorResponse.error === ''">
    <div @enterFadeInTransition [@render]="isRendering ? 'onRendering'  : 'onRender'" class="container definition">
        <div *ngFor="let word of words; let wordIndex = index" class="definition__item">
            <div>
                <h1 class="definition__title">
                    {{word.madde }}
                </h1>
                <ng-container *ngIf="word.cogul_mu ==='1' || word.telaffuz || word.lisan">
                    <div class="definition__types">
                        <p>
                            <i *ngIf="word.cogul_mu === '1'">
                                Çokluk,
                            </i>
                            <i *ngIf="word.telaffuz">
                                ({{word.telaffuz}}),
                            </i>
                            <i>
                                {{word.lisan}}
                            </i>
                        </p>
                        <ng-container *ngIf="voiceSource">
                            <div class="definition__play-button--wrapper">
                                <button (click)="playSound()" class="definition__play-button">

                                </button>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngFor="let anlam of anlamList[wordIndex]; let anlamIndex = index">
                <div class="definition__meaning">
                    <ng-container *ngIf="word.anlamlarListe[anlamIndex]">
                        <p class="definition__meaning__types">
                            {{anlamIndex+1}}.
                            <i *ngIf="word.ozel_mi === '1'">
                                <span>özel, </span>
                            </i>
                            <i *ngIf="anlam">{{anlam}}:</i>

                            {{ word.anlamlarListe[anlamIndex].anlam }}
                        </p>
                        <ng-container *ngIf="word.anlamlarListe[anlamIndex].orneklerListe">
                            <div class="definition__example">
                                <q>
                                    {{word.anlamlarListe[anlamIndex].orneklerListe[0].ornek}}
                                </q>
                                <span *ngFor="let yazar of word.anlamlarListe[anlamIndex].orneklerListe[0].yazar">
                                    - {{yazar.tam_adi}}
                                </span>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-container class="definition" *ngIf="wordErrorResponse.error !== ''">
    <div @enterFadeInTransition [@render]="isRendering ? 'onRendering'  : 'onRender'"
        class="definition definition--error container">
        {{wordErrorResponse.error}}
    </div>
</ng-container>