.definition {
    padding-inline: clamp(.25rem, 2vw, 1rem);
    padding-block: clamp(1rem, 2vw, 4rem);
    box-shadow: var(--card-shadow);
    background-color: var(--secondary-bg-color);
    font-size: clamp(1rem, 5vw, 1.75rem);
    border-radius: var(--radius-size);
    color: var(--main-color);

    &__title,
    &__example,
    &--error {
        text-align: center;
    }

    &__item {
        &:not(:first-child) {
            border-top: 2px solid var(--main-bg-color);
        }
    }

    &__title {
        margin: 0;
        padding-bottom: .5rem;
    }

    &__types {
        padding: 0rem 1rem;
        margin: 0;
    }

    &__meaning {
        margin-block: 2rem;
    }

    &__example {
        font-size: clamp(.5rem, 4vw, 1.5rem);
        margin: .25rem 1rem 1rem 1rem;
    }
}