<div class="daily-word-and-phrase container">
    <div @enterSlideInRight class="card">
        <h2 class="card__title">Bir Kelime</h2>
        <div class="card--inner" *ngFor="let word of words">
            <div class="card__word">
                <h3>
                    {{word.madde}}
                </h3>
            </div>
            <div class="card__definition">
                <p>
                    {{word.anlam}}
                </p>
            </div>
        </div>
    </div>
    <div @enterSlideInLeft class="card">
        <h2 class="card__title">Bir Deyim-Atasözü</h2>
        <div class="card--inner" *ngFor="let phrase of phrases">
            <div class="card__word">
                <h3>
                    {{phrase.madde}}
                </h3>
            </div>
            <div class="card__definition">
                <p>
                    {{phrase.anlam}}
                </p>
            </div>
        </div>
    </div>
</div>