.daily-word-and-phrase {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: clamp(1.25rem, 5vw, 1.75rem);
}

.card {
    border-radius: var(--radius-size);
    text-align: center;
    box-shadow: var(--card-shadow);
    padding: 2rem 1rem;
    background-color: var(--secondary-bg-color);

    &__title {
        margin: 0;
        padding-bottom: 10px;
        // font-size: clamp(1.5rem, 5vw, 2.5rem);
        font-weight: 700;
        background: -webkit-linear-gradient(45deg, var(--primary-purple) 10%, var(--gradient-purple)90%);
        background-size: 300% 300%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 2px solid var(--main-bg-color);
        animation: flowingGradient 2.5s ease infinite;
    }

    &__definition {
        font-size: clamp(1.25rem, 5vw, 1.5rem);
    }

    &__word a {
        text-decoration: none;
        color: var(--primary-purple);
    }
}

@media (min-width: 780px) {
    .daily-word-and-phrase {
        grid-template-columns: repeat(2, minmax(300px, 600px));
    }
}

@keyframes flowingGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}