<div *ngIf="word && phrase" class="daily-word-and-phrase container">
    <div @enterSlideInRight class="card">
        <h2 class="card__title">Bir Kelime</h2>
        <div class="card--inner">
            <div class="card__word">
                <h3>
                    <a class="animatedUnderline" (click)="scrollToTop()" [routerLink]="word.madde">{{word.madde}}</a>
                </h3>
            </div>
            <div class="card__definition">
                <p>
                    {{word.anlam}}
                </p>
            </div>
        </div>
    </div>
    <div @enterSlideInLeft class="card">
        <h2 class="card__title">Bir Deyim-Atasözü</h2>
        <div class="card--inner">
            <div class="card__word">
                <h3>
                    <a class="animatedUnderline" (click)="scrollToTop()"
                        [routerLink]="phrase.madde">{{phrase.madde}}</a>
                </h3>
            </div>
            <div class="card__definition">
                <p>
                    {{phrase.anlam}}
                </p>
            </div>
        </div>
    </div>
</div>