.animatedUnderline {
    display: inline-block;
    cursor: pointer;
    position: relative;

    &:hover:after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    &:after {
        content: '';
        transition: transform 0.5s ease-out;
        width: 100%;
        height: 3px;
        background-color: var(--primary-purple);
        transform-origin: bottom right;
        transform: scaleX(0);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

// .animatedUnderline {
//     @apply inline-block cursor-pointer relative after:content-['']
//     after:transition-transform after:duration-300
//     after:ease-out after:w-full after:h-[2px] after:absolute after:bottom-0 after:left-0
//     after:bg-primary-blue after:origin-bottom-right after:scale-x-0 hover:after:scale-x-100 hover:after:origin-bottom-left
//   }