@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto Mono;
    src: url("../../assets/fonts/Roboto_Mono/static/RobotoMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400;
    src: local(Inter),
        url(../../assets/fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 700;
    src: local(Inter),
        url(../../assets/fonts/Inconsolata/Inconsolata-Bold.ttf) format("truetype");
    font-display: swap;
}