.switch,
.search .search__input,
.search .search__button {
  transition: background-color var(--primary-transition-duration) ease-out;
}

.nav {
  transition: box-shadow var(--primary-transition-duration) ease-out, background-color var(--primary-transition-duration) ease-out;
}

.definition {
  transition: background-color var(--primary-transition-duration) ease-out, color .5s ease-out;

  &__title {
    transition: border var(--primary-transition-duration) ease-out;
  }

  &__meaning {
    transition: border-color var(--primary-transition-duration) ease-out;
  }
}

.card {
  transition: background-color var(--primary-transition-duration) ease-out;

  &__title {
    transition: border var(--primary-transition-duration) ease-out, color var(--primary-transition-duration) ease-out;
  }
}

.slider::after {
  transition: transform var(--primary-transition-duration) ease-out;

}

.search__input__validation-message {
  transition: opacity var(--secondary-transition-duration) ease-out;
}

.nav__dropdown {
  transition: background-color var(--primary-transition-duration) ease-out;
}

.nav__dropdown__list {
  transition: background-color var(--primary-transition-duration) ease-out;

  &__item {
    transition: color var(--primary-transition-duration) ease-out;
  }
}