.switch,
.search .search__input,
.search .search__button {
  transition: background-color 0.5s ease-out;
}

.nav {
  transition: box-shadow 0.5s ease-out, background-color 0.5s ease-out;
}

.definition {
  transition: box-shadow 0.5s ease-out, background-color 0.5s ease-out;

  &__meaning {
    transition: border-color .5s ease-out;
  }
}

.slider::after {
  transition: transform 0.5s;
}

.search__input__validation-message {
  transition: opacity 0.5s ease-out;
}

.nav__dropdown__list__item {
  transition: color 0.5s ease-out;
}