<section class="search container">
    <form (ngSubmit)="onSubmit()" #searchForm="ngForm" class="search__form">
        <label class="search__label" for="word">
            <input
                [@animateShadow]="(input.pristine && input.untouched) ? 'neutral' : (isInputValueValid && input.dirty) ? 'valid' : 'invalid'"
                #input="ngModel" required [(ngModel)]="wordInput" name="word" id="input_word" class="search__input"
                type="text" placeholder="Merak ettiğiniz kelimeyi giriniz..." />
            <button [disabled]="!isInputValueValid" type="submit" class="search__button">
                <img src="../../../../assets/svg/icon-search.svg" alt="" />
            </button>
            <span class="search__input__validation-message" [ngClass]="{'search__input__validation-message--hidden': (isInputValueValid || input.untouched),
                    'search__input__validation-message--visible': !(isInputValueValid || input.untouched)}">Lütfen bir
                kelime
                giriniz</span>
        </label>
    </form>
</section>