/* You can add global styles to this file, and also import other style files */
@use "../src/app/partials" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --main-bg-color: rgba(238, 238, 238, 97%);
    --main-color: #0f0f0f;
    --grey: #393E46;
    --color-scheme: light;
    --secondary-bg-color: #f5f5f5;
    --primary-purple: #a545ef;
    --font-family: sans-serif;
    --primary-shadow-color: var(--grey);
    --card-shadow: none;
    --navbar-shadow: 0px 1px 5px 0px var(--primary-shadow-color);
    --navbar-bg: var(--main-bg-color);
    --radius-size: 10px;
}


.dark-mode {
    --main-bg-color: #0f0f0f;
    --main-color: rgba(238, 238, 238, 87%);
    --secondary-bg-color: #1f1f1f;
    --color-scheme: dark;
    --primary-shadow-color: var(--secondary-bg-color);
    --card-shadow: none;
    --navbar-shadow: 0px 1px 1px 0px var(--primary-shadow-color);
    --navbar-bg: var(--main-bg-color);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    color-scheme: var(--color-scheme);
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.container {
    width: min(1200px, 90%);
    margin-inline: auto;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: local("Roboto Mono") url("./assets/fonts/Roboto_Mono/static/RobotoMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 400;
    src: local(Inter),
        url(./assets/fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 700;
    src: local(Inter),
        url(./assets/fonts/Inconsolata/Inconsolata-Bold.ttf) format("truetype");
    font-display: swap;
}